//----------------variables----------------

//colors
$principalBG: linear-gradient(90deg, rgba(121, 96, 85, 1) 0%, rgba(200, 176, 160, 1) 100%);
$headerBG: linear-gradient(90deg, rgba(107, 75, 62, 1) 0%, rgba(196, 158, 133, 1) 100%);
$secondaryColor: #d6baa1;
$footerColor: #241818;
$black: rgb(22, 22, 22);
$white: rgb(242, 242, 242);


//borders
$commonBorder: 1px black solid;
$heavierBorder: 2px black solid;
$borderRadiusSm: 1.5rem;
$borderRadiusLg: 2rem;



//----------------mixins----------------

@mixin margins($top, $right, $bottom, $left) {
    margin: $top $right $bottom $left;
}

@mixin paddings($top, $right, $bottom, $left) {
    padding: $top $right $bottom $left;
}


//----------------maps----------------
$fontSize: (
    'XS': 0.8em,
    'Sm': 1em,
    'Md': 1.3em,
    'L': 2.4em,
    'Xl': 3em,
    'header': 2.2em,
);

//----------------bucles----------------
$fonts: (
    'openSans': ('Open Sans', sans-serif),
    'roboto': ('Roboto', sans-serif),
    'daiBanna': ('Dai Banna SIL', sans-serif),
    'rubik': ('Rubik', sans-serif)
);

@each $family, $font in $fonts {
    .font-#{$family} {
        font-family: $font;
    }
}

.font-robotoBold {
    @extend .font-roboto;
    font-weight: bold;
}